{% extends 'base.html' %}
{% block content %}
{% load socialaccount %} 
{% providers_media_js %} 
{% load crispy_forms_filters %} 
{% load static %}
<style>
h1 {text-align: center;}
</style>

<div class="row container text-dark mt-2 col-md-12">
  <div class="container text-darkb col-md-2 ">

 
    <ul class="card gedf-card justify-content-md-center" style="
    background-color: #E8D5CA;  
    border: 2px ;
    padding: 15px;
    border-radius: 25px;">
    <label  class="container" ><h3 container>หมวดหมู่</h3> </label>  
  
    <a class="dropdown-item" href="{% url '' %}">ทั้งหมด</a>
    <a class="dropdown-item" href="{% url 'catagory_select' 1 %}">ทั่วไป</a>
    <a class="dropdown-item" href="{% url 'catagory_select' 2 %}">ความรัก</a>
    <a  class="dropdown-item" href="{% url 'catagory_select' 3 %}">ปรึกษา</a>
    <a  class="dropdown-item" href="{% url 'catagory_select' 4 %}">การเรียน</a>
    <a  class="dropdown-item" href="{% url 'catagory_select' 5 %}">การเมือง</a>
    <a  class="dropdown-item" href="{% url 'catagory_select' 6 %}">ดนตรี</a>
    <a  class="dropdown-item" href="{% url 'catagory_select' 7 %}">นิยาย/ซีรี่ย์</a>
    </ul>
  </div>

  <div class="column justify-content-md-center col-md-9 g-2">
    {% comment %} Blog create post {% endcomment %} 
    {% if user.is_authenticated %}
    <div class="card col-12 col-md-9" style="
    background-color: #E9C5BB; 
    border: 2px  ; 
    padding: 20px;
    border-radius: 35px;" >
     <div class="container" style=" 
   "><h1 >สร้างโพสต์<h1></div>
    <br>
      <form action="" method="post" autocomplete="off" class="row g-2">
        {% csrf_token %}
        <div class="col-md-9">{{form.title|as_crispy_field}}</div>
        <div class="col-md-3">{{form.category|as_crispy_field}}</div>
        <div class="col-md-12" >{{form.description|as_crispy_field}}</div>
        <div class="col-md-12">{{form.picture|as_crispy_field}}</div>
        <div class="col-md-12">{{form.pic_name|as_crispy_field}}</div>
        <button
          type="submit"
          class="btn btn-success col-2 mx-auto"
          href="{%url '' %}"
          style="
          background-color: #D78E8A; 
            border: 2px  ; 
            padding: 10px;
            border-radius: 15px;"
        >
          โพสต์
        </button>
      </form>
    </div>
    {% endif %}
    <br>
<nav>
  <div class="nav nav-tabs col-md-9"  id="nav-tab" role="tablist"   >
    <button class="nav-link active" style="background-color: #E5C5B6;" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true"> ล่าสุด</button>
    <button class="nav-link" style="background-color: #E5C5B6;"id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">ยอดนิยม</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
  {% for post in posts %}
    <div class="tab-pane fade show active" id="nav-hot" role="tabpanel" aria-labelledby="nav-hot-tab">
    <div
      class="card gedf-card justify-content-md-center col-md-9 no-gutters "
      style="margin-top: 20px; margin-bottom: 20px "  >
      <div class="card-header"  style="background-color: #E5C5B6;">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex justify-content-between align-items-center">
            <div class="mr-2">
              <img class="rounded-circle" width="45" src={% static 'media/' %}{{post.picture}} alt="">
            </div>
            <div class="ml-5">
              <div class="h5 m-1">{{post.pic_name}}</div>
            </div>
          </div>
          <div>
          {% comment %} {{user.id}} {% endcomment %}
  {% if user.id == post.user_id %}
            <div class="dropdown">
              <a
                class="btn dropdown-toggle"
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
              </a>

              <ul class="dropdown-menu" style="background-color: #E5C5B6;" aria-labelledby="dropdownMenuLink">
                <li>
                  <a
                    class="dropdown-item btn btn-warning"
                    href="{% url 'update_post' post.post_id %}"
                    ><i class="fa fa-edit"> แก้ไขโพสต์</i></a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item btn btn-danger"
                    href="{% url 'delete_post' post.post_id %}"
                    method="post"><i class="fa fa-trash" aria-hidden="true"> ลบโพสต์</i>
                  </a>
                </li>
              </ul>

            </div>
    {% endif %} 

          </div>
        </div>
      </div>

      {% comment %} คลื๊กดูโพสแต่ละโพสต์ {% endcomment %} 
    <a  style="text-decoration : none;" href="{% url 'post_comment' post.post_id %}" method='post'>

      <div class="card-body" style="background-color: #F6EEE3;">
        <h5 class="card-text" style="color:black">{{post.title}}</h5>
        <p class="card-text" style="color:black">{{post.description}}</p>

        <div class="text-muted h7 mb-2 justify-content-between align-items-center">
          <i class="fa fa-tags" aria-hidden="true"> {{post.category}}</i>
          <i class="fa fa-clock-o"></i> {{post.datetime |date:"SHORT_DATE_FORMAT"}}
        </div>
      </div>
  </a>
       {% if user.is_authenticated %}

    <div class="card-footer  col-md-12 d-flex justify-content-between align-items-center " style="background-color: #E5C5B6;">
    
          
<div class="pr-2" >
          <span class="" id="{{post.post_id}}">{{post.like_count}} </span>
          {% if user in post.liked.all %}
          <button class="btn btn-link text-dark p-0 border-2 btn-inline-light like-button " value="{{post.post_id}}" >
            
            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" 
              xmlns="http://www.w3.org/2000/svg">
               <path  id="heart{{post.post_id}}" fill="#FF0000" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg>
            
          </button>
          {% else %}
          <button class="btn btn-link text-dark p-0 border-2 btn-inline-light like-button " value="{{post.post_id}}" >
            
            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" 
              xmlns="http://www.w3.org/2000/svg">
               <path id="heart{{post.post_id}}"  fill="#fff" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg>
            
          </button>
          {% endif %}
          

    
        </div>
  
          {% comment %} <button class="btn btn-primary" href="{% url 'post_comment' post.post_id %}" ><i class="fa fa-commenting-o" aria-hidden="true"> Comment</i></button> {% endcomment %}


        {%if user in post.favourites.all %}
       
          <button class="Fav btn "  value="{{post.post_id}}" >
          <i class="" id="Fav{{post.post_id}}" aria-hidden="true"> Remove Favourties</i>
          </button>
        
        {% else %}
          <button  class="Fav btn " value="{{post.post_id}}">
          <i class="" id="Fav{{post.post_id}}"  aria-hidden="true"> Add to Favourties</i>
          </button>
        {% endif %}
     </div>

        {%endif%} 
  </div> 
    </div> 
    <!-- Post /////-->
    {% endfor %}
  
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
   {% for post in hotPosts %}
   <div class="tab-pane fade show active" id="nav-hot" role="tabpanel" aria-labelledby="nav-hot-tab">
    <div
      class="card gedf-card justify-content-md-center col-md-9 no-gutters "
      style="margin-top: 20px; margin-bottom: 20px "  >
      <div class="card-header"  style="background-color: #E5C5B6;">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex justify-content-between align-items-center">
            <div class="mr-2">
              <img class="rounded-circle" width="45" src={% static 'media/' %}{{post.picture}} alt="">
            </div>
            <div class="ml-5">
              <div class="h5 m-1">{{post.pic_name}}</div>
            </div>
          </div>
          <div>
          {% comment %} {{user.id}} {% endcomment %}
  {% if user.id == post.user_id %}
            <div class="dropdown">
              <a
                class="btn dropdown-toggle"
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
              </a>

              <ul class="dropdown-menu" style="background-color: #E5C5B6;" aria-labelledby="dropdownMenuLink">
                <li>
                  <a
                    class="dropdown-item btn btn-warning"
                    href="{% url 'update_post' post.post_id %}"
                    ><i class="fa fa-edit"> แก้ไขโพสต์</i></a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item btn btn-danger"
                    href="{% url 'delete_post' post.post_id %}"
                    method="post"><i class="fa fa-trash" aria-hidden="true"> ลบโพสต์</i>
                  </a>
                </li>
              </ul>

            </div>
    {% endif %} 

          </div>
        </div>
      </div>

      {% comment %} คลื๊กดูโพสแต่ละโพสต์ {% endcomment %} 
    <a  style="text-decoration : none;" href="{% url 'post_comment' post.post_id %}" method='post'>

      <div class="card-body" style="background-color: #F6EEE3;">
        <h5 class="card-text" style="color:black">{{post.title}}</h5>
        <p class="card-text" style="color:black">{{post.description}}</p>

        <div class="text-muted h7 mb-2 justify-content-between align-items-center">
          <i class="fa fa-tags" aria-hidden="true"> {{post.category}}</i>
          <i class="fa fa-clock-o"></i> {{post.datetime |date:"SHORT_DATE_FORMAT"}}
        </div>
      </div>
  </a>
       {% if user.is_authenticated %}

    <div class="card-footer  col-md-12 d-flex justify-content-between align-items-center " style="background-color: #E5C5B6;">
    
          
<div class="pr-2" >
          <span class="" id="{{post.post_id}}">{{post.like_count}} </span>
          {% if user in post.liked.all %}
          <button class="btn btn-link text-dark p-0 border-2 btn-inline-light like-button " value="{{post.post_id}}" >
            
            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" 
              xmlns="http://www.w3.org/2000/svg">
               <path  id="heart{{post.post_id}}" fill="#FF0000" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg>
            
          </button>
          {% else %}
          <button class="btn btn-link text-dark p-0 border-2 btn-inline-light like-button " value="{{post.post_id}}" >
            
            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" 
              xmlns="http://www.w3.org/2000/svg">
               <path id="heart{{post.post_id}}"  fill="#fff" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg>
            
          </button>
          {% endif %}
          

    
        </div>
  
          {% comment %} <button class="btn btn-primary" href="{% url 'post_comment' post.post_id %}" ><i class="fa fa-commenting-o" aria-hidden="true"> Comment</i></button> {% endcomment %}


        {%if user in post.favourites.all %}
       
          <button class="Fav btn "  value="{{post.post_id}}" >
          <i class="" id="Fav{{post.post_id}}" aria-hidden="true"> Remove Favourties</i>
          </button>
        
        {% else %}
          <button  class="Fav btn " value="{{post.post_id}}">
          <i class="" id="Fav{{post.post_id}}"  aria-hidden="true"> Add to Favourties</i>
          </button>
        {% endif %}
     </div>

        {%endif%} 
  </div> 
    </div> 
    <!-- Post /////-->
    {% endfor %}
  </div>

</div>

    </div>
    
  </div>
</div>
<script>


  $(document).on('click', '.Fav', function (e) {
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "favourite_add" %}',
      data: {
        postid: $(this).val(),
        csrfmiddlewaretoken: '{{ csrf_token }}',
        action: 'post'
      },
      success: function (json,color) {
        var x = document.getElementById("Fav"+json['postId']);
  if (x.innerHTML === " Remove Favourties")  {
    x.innerHTML = " Add to Favourties" 

  } 
  else if(x.innerHTML === " Add to Favourties") {
    x.innerHTML = " Remove Favourties"
  
  }
      },
      error: function (xhr, errmsg, err) {
        return err

      }
    });
  })

  $(document).on('click', '.like-button', function (e) {
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "like" %}',
      data: {
        postid: $(this).val(),
        csrfmiddlewaretoken: '{{ csrf_token }}',
        action: 'post'
      },
        
      success: function (json) {
        if(json['exist']){
          console.log('1')
          $("#heart"+json['postId']).css('fill', 'red');

        }
        else{
          console.log('0')

          $("#heart"+json['postId']).css('fill', 'white');


        }
      document.getElementById(json['postId']).innerHTML = json['result']
     
      },
      error: function (xhr, errmsg, err) {
        return err

      }


  });

  
});




</script>
{% endblock%}
