{% extends 'base.html' %}
{% block content %} 
{% load socialaccount %}
{% providers_media_js %}
{% load crispy_forms_filters %}
{% load static %}

  <div class="container text-dark mt-5">
    <div class="row justify-content-md-center">
        <div class="col-md-6 p-3">
          <form action="{% url 'update_post' id %}" method="post" autocomplete="off" class="row g-3">
              {% csrf_token %}
              <div class="col-md-9">
                  {{form.title|as_crispy_field}}
              </div>
              <div class="col-md-3">
                  {{form.category|as_crispy_field}}
              </div>
              <div class="col-md-12">
                  {{form.description|as_crispy_field}}
              </div>
              {{form.picture}} 
              {{form.pic_name}}
              {{ form.path }}
              <button type="submit" class="btn btn-success col-2 mx-auto">บันทึก</button>
          </form>
      </div>
    </div>
  </div>
{% endblock%}